/* Matikan efek dark mode otomatis dari browser */
:root {
  color-scheme: light only;
}

/* Pastikan background tetap putih */
html, body {
  background: #f8f9fa !important;
  color: #1a1a1a !important; /* teks tetap gelap */
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
}

.hero-bg {
    background-image: url("img/Asna\ Collection.jpg");
}

.bsi-agen-bg {
    background-image: url("img/Agen\ BSI.jpg");
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styling untuk link navbar yang aktif */
.nav-link-active {
    color: #1d4ed8 !important;
    /* Tailwind's blue-800 */
    font-weight: 600;
    border-bottom: 2px solid #1d4ed8;
    padding-bottom: 2px;
}
